
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container for Grid Layout */
.container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;  */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* Form Section */
.divider{
    border: none;
    border-top: 1px solid #eae1e166;
    margin: 15px 0; 
    width: 480px;
}
.btn-google{
    border: 1px solid #eae1e166;
    padding: 15px 40px;
    width: 480px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.btn-google:hover{
    background-color: #e6e4e4;
}
.btn-google img {
    width: 30px;
    /* margin-right: 15px;
    padding-bottom: 3px; */
}
.btn-google #fb{
    color: rgb(9, 89, 237);
    font-size: 1.4em;
    margin-left: 15px;
}
.btn-google i{
    color: black;
    font-size: 1.4em;
    margin-left: 15px;
}
.btn-google p{
    color: black;
    text-align: center;
    width: 200px;
    font-weight: 560;
    font-size: 17px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.form-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    /* background-color: #fff; */
}

.form-section h1 {
    width: 480px;
    text-align: left;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 40px;
    color: #333;
}

.form-group {
    font-family: "Acme", sans-serif;
    margin-bottom: 15px;
    text-align: left;
    width: 480px;
    border: 1.5px solid #eae1e166;
    border-radius: 3px;
}

label {
    display: block;
    font-size: 0.8em;
    color: #555;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    padding: 0px 10px 10px 10px;
}

input:focus {
    outline: none; /* Removes rectangular box */
    /* border: 2px solid #4CAF50; Optional focus border */
    /* box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); Optional glow */
    cursor: text; /* Ensures cursor appears */
    background-color: white;
}


form button {
    background-color: #103bbc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 19px 20px;
    font-weight: 550;
    font-size: 22px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

form button:hover {
    background-color: #092b91;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

p {
    margin-top: 10px;
    font-size: 17px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

/* Forgot Password Link Styling */
.forgot-password-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #103bbc;
    text-decoration: underline;
    text-align: left;
    width: 480px;
    transition: 0.7s;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: #092b91;
    letter-spacing: 1px;
}


/* Image Section */
.image-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-section img {
    max-width: 100%;
    height: 100%;
    width: 59%;
    border-radius: 10px;
    object-fit: contain;
    margin-left: -180px;
}
